body {
  padding: 0px;
  margin: 0px;

  color: white;
  background-image: url("img2.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Bitter", serif;
}

.btn:hover {
  background-color: rgb(151, 136, 136);
}

.btn {
  margin: 12px 9px;
  color: white;
  background-color: black;
  border-radius: 13px;
  padding: 0px 9px;
  border: 2px solid gray;
  font-size: 20px;
  font-family: "Bitter", serif;
}

.container {
  border: 2px solid white;
  margin: 135px 450px;
  padding: 18px 45px;
  width: 33%;
  height: 302px;
  border-radius: 20px;
  background-color: #5943436b;
  border-radius: 56px;
}

.form,
.group input {
  text-align: center;
  display: block;
  width: 270px;
  padding: 6px;
  border: 4px solid black;
  border-radius: 10px;
  margin: 6px auto;
  font-family: "Bitter", serif;
}

.container h1 {
  text-align: center;
}

.container button {
  display: block;
  width: 31%;
  margin: 13px auto;
}

.header {
  margin: 12px;
  padding: 15px;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: rgb(245, 18, 2);
}

.group-2 {
  text-align: center;
  height: 21px;
  width: 185px;
  /* left: 1565px; */
  top: 37px;
  border-radius: 79px;
}
