* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url("img.jpeg");
  padding: 0px;
  margin: 0px;

  background-attachment: fixed;
  background-size: 100% 100%;
}
.start_btn,
.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0pz 4px 8px rgba(0, 0, 0, 0.2), 0pz 6px 20px rgba(0, 0, 0, 0.19);
}
.info_box.activeInfo {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* Quize start styling css */
.start_btn button {
  font-size: 25px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}
.info_box {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50px) scale(0.9);
}
.info_box .info_title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 600px;
}
.info_box .info_list {
  padding: 15px 35px;
}
.info_box .info_list .info {
  margin: 5px 0;
  font-size: 17px;
}

.info_box .info_list .info span {
  font-weight: 600;
  color: red;
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgrey;
}

.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button.restart {
  color: rgb(216, 23, 23);
  border-color: #007bff;
}
.buttons button.restart:hover {
  background: #007bff;
}
.buttons button.quit {
  color: #007bff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}
.quiz_box {
  width: 550px;
  background: #fff;
  border-radius: 5px;
  opacity: 0; /* when you remove quiz will be show*/
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.quiz_box header {
  position: relative;
  z-index: 99;
  height: 75px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz_box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: #e366417a;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 8px;
}
.quiz_box header .timer .time_text {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 18px;
  font-weight: 500;
  background: #343a40;
  height: 30px;
  width: 45px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #343a40;
}
.quiz_box .section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

.quiz_box section .que_text {
  font-size: 25px;
  font-weight: 600;
}

.quiz_box section .option_list {
  padding: 20px 16px;
  display: block;
}
section .option_list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
section .option_list .option:hover {
  color: #004085;
  background: #cce5ff;
  border-color: #b8b8b8;
}

.option_list .option:last-child {
  margin-bottom: 0px;
}
.option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
}

.option_list .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}
.option_list .option .icon.cross {
  color: #a42834;
  border: color #f8d7da;
  background: #a42834;
}

.quiz_box footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz_box footer .total_que span {
  display: flex;
  user-select: none;
}
footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}
.total_que span p:first-child {
  padding-left: 0px;
}
footer .next_btn {
  height: 40px;
  padding-left: 0 13px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #007bff;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3 ease;
}
footer .next_btn:hover {
  background: #0263ca;
}

.result_box {
  background: #fff;
  width: 450px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0; /*when you remove marks will be display */
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon {
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
}
.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}
.result_box .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.score_text span p {
  font-weight: 500;
  padding: 0 4px;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
}
